{% render 'partials/head.liquid' %}

<article>
  <header>
    <h1>Hallo</h1>
    <p>mijn naam is</p>
  </header>

  <p>{{ Kurollos }}</p>

  <footer></footer>
</article>


<section class="card">
  <!-- Profielfoto / Logo -->
  <img src="avatar.png" alt="Profielfoto" class="profile-pic">

  <!-- Naam -->
  <h1 class="name">Kurollos Yaakoub</h1>

  <!-- Functie -->
  <p class="role">School Student</p>

  <!-- Contactgegevens -->
  <ul class="contact-info">
    <li class="contact-db phone"> E-mail</li> <!-- uit database -->
    <li class="contact-db email"> Website</li>  <!-- uit database -->
    <li class="contact-db website"> Linkedin</li> <!-- uit database -->
  </ul>

  <!-- Optionele extra info -->
  <button class="more-info-btn">Meer info</button>
  <section class="more-info">
    <p>Skills</p>
    <p>Passie</p>
    <p>Dromen</p>
  </section>
</section>


{% render 'partials/foot.liquid' %}
